*	
	{
		margin: 0;
		padding: 0;
	}
	
p	{
	text-align: justify
	}	
	
.container
	{
		height: 1000px;
		width: 1000px;
		background-color: white;
		margin: auto;
	}
	
/*menu gedeelte */	
.menu
	{
		height: 100px;
		width: 1000px;
		background-color: white;
	}
	
.menu1
	{
		height: 20px;
		width: 80px;
		float: left;
		padding: 20px;
		margin: 20px 30px 20px 30px;
		
	}
	
ul	{
		list-style-type: none;
		overflow: hidden;
		width: 100px;
	}
	
li a {
    display: block;
	color: white;
    background-color: blue;
	border-radius: 25px;
	height: 20px;
	width: 100px;
	text-align: center;
	}
	
.menupic
	{
		height: 100px;
		width: 200px;
		float: left;
	}
	
/*header gedeelte */	
.header
	{
		Height: 300px;
		width:1000px;
		background-color: blue;
	}
	
/*content gedeelte */
.content
	{	
		height: 600px;
		width: 1000px;
		background-color: white;
	}

.vak
	{ 
		height: 200px;
		width: 1000px;
	}

	
.tekstvak
	{	
		height: 200px;
		width: 500px;
		float: left;
	}
	
.fotovak
	{
		height: 200px;
		width: 500px;
		float: right;
	}
	
.fotovak2
	{	
		height: 200px;
		width: 500px;
		float: left;
	}

		
/*footer gedeelte */
.footer
	{
		height: 50px;
		width: 1000px;
		background-color: blue;
		color: white;
	}