*	
	{
		margin: 0;
		padding: 0;
	}
	
p	
	{
		text-align: justify;
	}	
	
#footertext	
	{
		text-align: justify;
		margin: 5px 0px 0px 5px;
	}	
	

.container
	{
		height: 1000px;
		width: 1000px;
		background-color: white;
		margin: auto;
	}
	
/*menu gedeelte */	
.menu
	{
		height: 100px;
		width: 1000px;
		background-color: white;
		overflow: hidden;
	}
	
.menu1
	{
		height: 20px;
		float: right;
		margin: 25px 50px 0px 50px;
	}
	
ul	{
		list-style-type: none;
	/*	overflow: hidden; */
		width: 100px;
	}
	
/*li a {
		display: block;
		color: white;
		background-color: #589BC0;
		border-radius: 25px;
		height: 20px;
		width: 100px;
		text-align: center;
	} */
	
.menupic
	{
		height: 100px;
		width: 200px;
		float: left;
	}
	
/*header gedeelte */	
.header
	{
		margin-bottom: 15px;
		Height: 300px;
		width:1000px;
		background-color: blue;
	}
	
/*content gedeelte */
.content
	{	
		width: 1000px;
		background-color: white;
	}
	
.imgMenu1
	{ 
		width: 150px;
		height: 50px;
	}

.imgMenu1:hover
	{
		background-image: url('Header Knoppen/inloggen menu donker.png');
		background: blue;
	}

.vak
	{ 
		height: 220px;
		width: 1000px;
		margin-top: 10px;
	}

	
.tekstvak
	{	
		width: 500px;
		float: left;
	}
	
.fotovak
	{
		float: right;
	}
	
.fotovak2
	{	
		width: 500px;
		float: left;
	}

		
/*footer gedeelte */

	
.footerLeft
	{ 
		margin-top: 10px;
		height: 150px;
		float: left;
		background-color:#589BC0;
		width: 250px;
		color: white;
	}

.footerMid
	{ 
		margin-top: 10px;
		height: 150px;
		float: left;
		background-color:#589BC0;
		width: 500px;
		color: white;
	}

.footerRight
	{ 
		margin-top: 10px;
		height: 150px;
		float: left;
		background-color:#589BC0;
		width: 250px;
		color: white;
	}
	
.socialMedia