*	
	{
		margin: 0;
		padding: 0;
	}

body {
	font-family: arial, helvetica, sans-serif;
	color: #000000;
}
	
p	{
		text-align: justify;
	}	
	
#footertext	
	{
		text-align: justify;
		margin: 5px 0px 0px 5px;
	}	
	

.container
	{
		height: 1000px;
		width: 1000px;
		background-color: white;
		margin: auto;
	}
	
/*menu gedeelte */	
.menu
	{
		height: 100px;
		width: 1000px;
		background-color: white;
		overflow: hidden;
	}
	
.menu1
	{
		height: 20px;
		float: right;
		margin: 25px 50px 0px 50px;
	}
	
ul	{
		list-style-type: none;
	/*	overflow: hidden; */
		width: 100px;
	}
	
/*li a {
		display: block;
		color: white;
		background-color: #589BC0;
		border-radius: 25px;
		height: 20px;
		width: 100px;
		text-align: center;
	} */
	
.menupic
	{
		height: 100px;
		width: 200px;
		float: left;
	}
	
/*header gedeelte */	
.header
	{
		margin-bottom: 15px;
		Height: 300px;
		width:1000px;
		background-color: blue;
	}
	
/*content gedeelte */
.content
	{	
		width: 1000px;
		background-color: white;
	}
	
.imgMenu1
	{ 
		width: 150px;
		height: 50px;
	}

.imgMenu1:hover
	{
		background-image: url('Headerknoppen/inloggen menu donker.png');
		background: blue;
	}

.vak
	{ 
		height: 220px;
		width: 1000px;
		margin-top: 10px;
	}

	
.tekstvak
	{	
		width: 500px;
		float: left;
	}
	
.fotovak
	{
		float: right;
	}
	
.fotovak2
	{	
		width: 500px;
		float: left;
	}

		
/*footer gedeelte */

	
.footerLeft
	{ 
		float: left;
		margin-top: 10px;
		height: 150px;
		float: left;
		background-color:#589BC0;
		width: 250px;
		color: white;
	}

.footerMid
	{ 
		float: left;
		margin-top: 10px;
		height: 150px;
		float: left;
		background-color:#589BC0;
		width: 500px;
		color: white;
	}

.footerRight
	{ 
		float: left;
		margin-top:10px;
		height: 150px;
		float: left;
		background-color:#589BC0;
		width: 250px;
		color: white;
	}
	
.socialMedia
{
	float:right;
	margin-top: 10px;
	margin-right: 10px;
}

.footertext1 {
	color:white;
	text-align:center;
	margin-top:60px;
	margin-left: 10px;
}

.footertext2 {
	color:black;
	text-align:center;
	margin-top:40px;
	margin-left:140px;
}

.feed {
    width:990px;
    float:left;
}
.feed li{
    width:990px;
    height:150px;
    text-align:justify;
    margin-bottom: 10px;
    margin-top:30px;
    border: 1px solid black;
    padding-left: 5px;
    padding-right:5px;
}
.feed a:link {
   font-weight:bold;
   color:#000000;
}
.feed a:visited {
    color:#008B8B;
    font-weight:bold;
}
.feed a:hover {
    color:#37fff0;
    font-weight:bold;
}
/* FORMULIEREN */

.content2 {
		width: 1000px;
		background-color: white;
		float:left;
}

#Imagebox {
	margin-top: 35px;
	margin-left: 25px;
	width: 500px;
	float:left;
}

#Imagebox2 {
	margin-top: 35px;
	margin-left: 75px;
	width: 500px;
	float:left;
}

#Imagebox2 img {
	width: 700px;
	height:380px;
}

#contactformulier {
	width: 204px;
	float: left;
	margin-left: 20px;
}

#contactformulier2 {
	width: 204px;
	float: right;
	margin-right: 20px;
}

.submission-form{
	max-width: 200px;
	border: 2px;
	padding: 20px;
}

label{
	display:block;
	font-size: 12px;
}
	
input,textarea, select{
		display:block;
		width: 200px;
		resize: none;
		margin-bottom: 10px;
		border: 2px solid #25aae1;
	}

#send {
	border: 2px;
	background-color: #008B8B;
	color: white;
	width: 200px;
	height: 30px;
	font-size: 12px;
}

#reset {
	border: 2px;
	background-color:#D0D0D0;
	width: 200px;
	height: 20px;
	font-size: 12px;
}