body {
	font-family: Arial;
	font-size: 12px;
}

form ul {
	list-style-type: none;
	line-height: 30px;
}

label {
	display: block;
	text-align: left;
}

textarea {
	width: 275px;
	resize: none;
}

li {
	text-align:left;
	display: block;
}